<div class="container">
    <h1> AddMember </h1>
    <form   (ngSubmit)="onSubmit( addMemberForm.value)" #addMemberForm="ngForm">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" 
            ngControl="name"  #name="ngForm" >
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" ngControl="password" class="form-control" 
        #password="ngForm" >
      </div>
      
      <button type="submit" class="btn btn-default" [disabled]="!addMemberForm.form.valid">Submit</button>

    </form>
  </div>

